* {
  box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    
}

.card {
    width: 25.625rem;
    margin: auto;
    margin-top: 10rem
  }
.card-content {
  background-color: white;
  width: 100%;
  border-radius: 1rem;
}
/* ---HEADER--- */

.card .card-header img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1.4rem;
}


/* ---BODY--- */
/* ---CHEST--- */
.card-body-chest {
    width: 100%;
}
.card-body-chest .card-text .inner-content {
     width: 75%;
     margin: auto;
}

.card-body-chest
 {
  text-align: center;
  line-height: 1.4rem;
}

.card-body-chest .card-plan {
  display: flex;
  padding-bottom: 1.5rem;
  width: 4rem;
  background-color: hsl(225, 100%, 94%);
  
}
.card-body-chest .card-text p {
    text-align: center;
    padding-bottom: 0.2rem;
    justify-content: st;
    
}
.card-body-chest .card-text h2 {
    font-weight: 900;
    font-size: 1.5625rem;

    
}
.card-body-belly .card-plan img {
  width:2.5rem;
  height: 2.5rem;
  ;
}

/* BODY */
.card-body-belly {
  width:80%;
  
  margin: auto;
  margin-bottom: 1.5rem;
}
.card-body-belly .card-plan {
    display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 1rem;
  background-color: hsl(225, 100%, 98%);
justify-content: space-between;
padding: 1.5rem;
}

.card-body-belly .card-plan .annual-plan {
    margin: 0;
    font-weight: 900;
    font-size: 0.9375rem;
}

.card-body-belly .card-plan-text {
    flex-direction: column;
    padding-right: 5rem;   
    padding-left: 1rem; 
}

/* .card-body-belly .card-plan .card-change-plan a {
    margin-left: 2rem;
} */

.card-body-belly .card-plan .card-change-plan a {
    font-size: 0.875rem;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    padding-right: 1rem;
}
.card-body-belly .card-plan .card-change-plan a:hover {
    color:#551A8B;
    text-decoration: none;
    
    
}
.card-body-belly .card-plan .price-plan {
    color: hsl(224, 23%, 55%);
    margin: 0;
    margin-top: 0.2rem;
    
}
/* ---FOOTER---  */


.card-footer .card-payment {
    padding-top: 0.2rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.card-payment .card-button {
    display: flex;
    width: 80%;
    height: 2.8rem;
    border-radius: 0.5rem;
  margin-left: 2.5rem;
  background-color: hsl(245, 75%, 52%);
  color: white;
  text-align: center;
  margin: auto;
  font-weight: 900;
  padding: 0.7rem;
  font-size: 0.875rem;
  margin-bottom: 0.2rem;
  /* margin-top: 0.3rem; */
 
}
.card-payment .card-button h4{
    margin: auto;
    font-weight: 700;
   
}
.card-payment .card-button:hover {
    background-color: #551A8B;
    cursor: pointer;
}

.card-footer .card-payment p {
margin: auto;
margin-top: 1.7rem;
margin-bottom: 1.5rem;
font-size: 0.875rem;

}
.card-footer .card-payment .card-cancel a {
    text-decoration: none;
    color: hsl(223, 47%, 23%);
    
}
 a:visited {
    color: white;

    
}
.card-footer .card-payment p:hover {
    font-weight: 900;
    text-decoration: none;

}
